<div>
    <div class="controls">
            <form>
                <fieldset>
                    <legend>Map Options</legend>
                    <input type="button" (click)="this.cleanMap()" value="Reset map" />
                    <input type="button" (click)="this.addDynamicObstacle()" value="Add moving block" />
                    <input type="button" (click)="this.addRandomObstacles()" value="Add random blocks" />
                    <input type="button" (click)="this.addWalls()" value="Add Walls" />

                    <label for="algorithm">
                        <input type="checkbox" name="visualizePathCosts" (click)="this.visualizePathCosts()" [(ngModel)]="this.isVisualizePathEnabled" /> Visualize path cost
                    </label>
                </fieldset>

                <fieldset>
                    <legend>Algorithm</legend>
                    <div class="inputdiv">
                        <table>
                            <tr>    
                                <td> <span>Typ:</span> </td>
                                <td> <select name="algorithm" id="algorithm" [(ngModel)]="this.algorithm" (ngModelChange)="this.changeAlgorithm()">
                                    <option value="Dijkstra">Dijkstra</option>
                                    <option value="AStar">A*</option>
                                    <option value="LpaStar">Lifelong Planning A*</option>
                                    <option value="GAAStar">GAA*</option>
                                    <option value="MPGAAStar">MPGAA*</option>
                                </select>
                                </td>
                            </tr>
                            <tr>
                                <td> <span>Distance:</span> </td>
                                <td> <select name="distance" id="distance" [(ngModel)]="this.distance" (ngModelChange)="this.changeAlgorithm();">
                                    <option value="euklid">Euklid</option>
                                    <option value="manhattan">Manhattan</option>
                                    <option value="diagonalShortcut">Diagonal Shortcut</option>
                                </select>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <input type="button" (click)="this.runStepByStep()" value="Run step by step" [hidden]="this.algorithm == 'LpaStar' || this.algorithm == 'MPGAAStar'|| this.algorithm == 'GAAStar'" />
                    
                    <div [hidden]="this.algorithm == 'LpaStar' || this.algorithm == 'Dijkstra'|| this.algorithm == 'AStar'">
                        <table>
                            <tr>
                                <input type="number" name="timestepinterval" class="inputWithLabel"  value="" [(ngModel)]="this.robotStepInterval" [disabled]="this.robotIsMoving"/> 
                                <label> ms step interval</label>
                            </tr>
                            <tr>
                                <input type="number" name="viewradius" class="inputWithLabel" value="" [(ngModel)]="this.robotViewRadius" (ngModelChange)="this.showViewRadius()"/>
                                <label> View Radius </label>
                            </tr>
                            <tr>
                                <input type="button" (click)="this.startRobot()" value="Start Robot" [disabled]="this.robotIsMoving" />
                            </tr>
                        </table>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Statistic</legend>
                    <div>Visited Cells: <span>{{this.stat.visitedCells}}</span></div>
                    <div>Path Length: <span>{{this.stat.pathLength}}</span></div>
                </fieldset>
                
                <fieldset>
                    <legend>Cell</legend>
                    <table>
                      <tbody>
                        <tr>
                          <td>Position</td><td>{{this.hoveredCell.position.x}} {{this.hoveredCell.position.y}}<td> 
                        </tr>
                        <tr [hidden]="!this.hoveredCell.distance">
                          <td>Distance g(x)</td><td>{{this.hoveredCell.distance | number:'.0-3'}}<td>
                        </tr>
                        <tr [hidden]="!this.hoveredCell.rhs">
                          <td>Rhs</td><td>{{this.hoveredCell.rhs | number:'.0-3'}}<td>
                        </tr>  
                         <tr [hidden]="!this.hoveredCell.estimatedDistance">
                          <td>est. Distance f(x)</td><td>{{this.hoveredCell.estimatedDistance | number:'.0-3'}}<td>
                        </tr>  
                         <tr [hidden]="!this.hoveredCell.heuristicDistance">
                          <td>heuristic Distance h(x)</td><td>{{this.hoveredCell.heuristicDistance | number:'.0-3'}}<td> 
                        </tr>                           
                      </tbody>
                    </table>
                </fieldset>
            </form>
        </div>

        <svg    attr.height.px="{{this.heightPx +1}}" 
        attr.width.px="{{this.widthPx + 1}}">
        <g *ngFor="let row of this.map.grid">
            
            <rect   *ngFor="let cell of row" 
                    attr.x.px="{{cell.position.x * this.cellSize}}" 
                    attr.y.px="{{cell.position.y * this.cellSize}}" 
                    attr.width.px="{{this.cellSize}}" 
                    attr.height.px="{{this.cellSize}}" 
                    [ngClass]="{'blocked': cell.isBlocked, 'current': cell.isCurrent, 'closed': cell.isVisited, 'start': cell.isStart, 'goal': cell.isGoal, 'inView': cell.isInView}" 
                    (mousedown)="this.clickOnCell(cell)" 
                    (mouseover)="this.mouseOverCell(cell, $event)" 
                    [ngStyle]="{'fill': cell.color}"
                    >
            </rect>
    
        </g>
    </svg> 
</div>
